@keyframes bounce-right-left {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-bounce-right-left {
    animation: bounce-right-left 2s infinite;
  }
  